.home {
    padding: 20px;
    text-align: center;
  }
  
  .home h2 {
    margin-top: 0;
  }
  
  .home p {
    margin-bottom: 20px;
  }
  
  .cta-button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #ffcc00;
  }
  